.description {
  width: 300px;
  height: 100px;
  resize: none;

  &::placeholder {
    color: #999;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.expense_amt {
  &::placeholder {
    color: #999;
  }
}

.custom_category {
  &::placeholder {
    color: #999;
  }
}

.expenses_list {
  list-style: none;
  border: 1px solid black;
  padding: 20px; 
  margin-top: 20px;
}


