* {
    margin: 0;
    padding: 0;
}

.forgot_password {
  text-align: center;
}

button.forgot_button {
  background-color: #ff0000;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button.forgot_button:hover {
  background-color: #990000;
}
