* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup_form {
  background-color: aliceblue;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* forgot password link */
.forgot_password {
  margin-left: 120px;
}

/* Style for the Sign Up and Sign In buttons */
button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
}

/* Style for the toggle button */
button[type="button"] {
  background-color: #2196f3;
  color: #fff;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .signup_form {
    width: 100%;
  }
}
